<launch>
  <node pkg="lidar_camera" name="lidar_camera" type="lidar_camera_node" output="screen" required="true">
    <remap from="cloud_in" to="/lidar0/velodyne_points"/>
    <remap from="image_in" to="/camera/rgb/image_raw"/>
    <remap from="camera_info" to="/camera/rgb/camera_info"/>

    <param name="lidar_frame" value="lidar0" />
    <param name="range_min" value="0.0" />
    <param name="range_max" value="10" />
  </node>
</launch>